
<div class="row b-limit-top">


    <div class="large-8 columns m-limit-top">
	<h1 class="blue-noise-bg inline-inline"><%= @article.title %></em></h1>
	<br />


    </div>
    <div class="large-8 columns left m-limit-top">
    	<%= image_tag @article.picture.url %><br />
	<p class="h3 oxygen"><%= @article.content %><br /><br /><%= @article.html.html_safe %></p>
    </div>
</div>



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=145343622317172";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




<div class="fb-comments" data-href="<%= request.url %>" data-width="470" data-num-posts="10"></div>

