<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:300' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://www.youtube.com/player_api"></script>

</head>
<body class="backgrounds" style="background-image: url(assets/bgs/<%= "#{@body_class}".strip %>.jpg);">
   <!-- <div id="bgfader"></div>
    <div id="bgfader2"></div>
    !-->
<%= render "shared/topbar" %>
    
<%= yield %>

<%= render "shared/rightbar" %>



</body>
</html>
